#scripter {
	position: relative;
	margin-bottom: 200px;

	#title-div {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: end;
		position: relative;

		#narrative-ask {
			position: absolute;
			top: -10px;
			right: -40px;
			color: #3176ff;
			font-weight: 800;
			font-size: 33px;
			text-align: end;
			rotate: 11deg;
		}

		#title {
			font-family: 'JetBrains Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
				Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-size: 147px;
			font-weight: bold;
			background: #f2f2f2;
			background: linear-gradient(
				180deg,
				rgba(242, 242, 242, 1) 41%,
				rgba(255, 255, 255, 1) 61%,
				rgba(98, 98, 98, 0) 100%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-align: end;
		}
	}

	#gradients {
		position: absolute;
		left: -100%;
		top: -70%;
		z-index: -1;
		width: 280%;
	}

	#mockups {
		z-index: -2;
		width: 100%;
	}

	#mrkt {
		font-family: 'JetBrains Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
		font-size: 46px;
		line-height: 50px;
		position: absolute;
		left: 0px;
		top: 230px;
		background: linear-gradient(180deg, #6ef3d6 0%, #eaeaea43 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: capitalize;
	}

	.floating-tags {
		font-size: 112px;
		position: absolute;
		bottom: 0;
		background: linear-gradient(180deg, rgba(255, 255, 255, 1) 21%, #ff5e9ebd 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	#bolder-tag {
		font-weight: 700;
		rotate: 17deg;
		right: -10px;
	}

	#light-tag {
		font-family: 'Sometype Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
		font-weight: normal;
		rotate: 8deg;
		right: 5%;
	}

	#profile-img {
		position: absolute;
		bottom: -10%;
		right: 30%;
		z-index: -1;
		width: 181px;
		height: 181px;
	}
}
